h1 {
    color: blue;
    text-align: center;
    font-size: 10vw;
}

.container {
    display: flex;
}

.counterButton {
    flex: auto;
    height: 100px;
    margin: 10px;
    font-size: 10vw;
    color: black;

}