h1 {
    color: blue;
    text-align: center;
    font-size: 10vw;
}


#body {
    height: 100%;
}

.container {
    display: flex;
}

.counterButton {
    flex: auto;
    height: 200px;
    margin: 10px;
    font-size: 8vw;
    color: black;
    border-radius: 15px;

}